#search {
	height: 40px;
	widht: auto;
	min-width: 270px;
	position: relative;
	right: 0%;
}

#leftarrow {
	color: rgb(192,0,0);
	margin-right: 10px;
	font-size: 180%;
	font-weight: bold;
	vertical-align: -5px;
	cursor: pointer;
}

#rightarrow {
	color: rgb(192,0,0);
	margin-right: 10px;
	font-size: 180%;
	font-weight: bold;
	vertical-align: -5px;
	cursor: pointer;
	display: none;
}

#search {
	position: fixed;
	right: -225px;
	bottom: 25px;
	z-index: 100000;
	background-color: transparent;
}

#searchfield {
	width: 220px;
	height: 100%;
	padding-left: 10px;
	border-style: solid;
	border-color: rgb(192,0,0);
	font-size: 100%;
	color: black;
	border-radius: 2px;
	border-width: 2px;
	background-color: white;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
}

#searchbutton {
	cursor: pointer;
	color: white;
	font-size: 110%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: -1px;
	background-color: rgb(192,0,0);
	border-radius: 4px;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
}

@-moz-document url-prefix(){
	#searchbutton {
		vertical-align: text-bottom;
		vertical-align: 0px;
		padding-top: 9px;
		padding-bottom: 11px;
	}
}

article {
	background-color: lightgrey;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 2px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}